<ion-view view-title="Playlists">
    <ion-content>
        <h1>TESTING</h1>
        <ion-list>
            <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
                {{playlist.title}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>